html {
  font-size: 16px;
}

body {
  background-color: white;
  /*min-width: 570px;*/
  font-family: "Righteous", sans-serif;
  font-size: 16px;
  line-height: 2.5;
  color: #4a4a4a;
  margin: 0;
  /*padding-top: 51px;*/

}

p {
  font-size: 1rem;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-inverse .navbar-brand {
  background-color: rgb(32,32,32);
  color: rgb(255,255,255);
  font-family: "Damion", cursive;
  font-size: 1.75rem;
}

.navbar-inverse .navbar-nav>li>a {
  color: rgb(255,255,255);
}

.dropdown-menu {
  padding: 0;
}

.dropdown-menu>li>a {
  color: rgb(185,127,64);
  background-color: black;
}

.navbar-inverse,
.navbar-nav>li,
.dropdown-menu li a,
.navbar-inverse .navbar-nav>.active>a {
  color: rgb(255,255,255);
  background-color: rgb(32,32,32);
  margin-bottom: 0;
}

.navbar-inverse .navbar-brand:hover,
.navbar-nav>li:hover,
.dropdown-menu>li>a:hover,
.navbar-inverse .navbar-nav>.active>a:hover {
  color: rgb(255,255,255);
  background-color: rgb(88,88,88);
}

.navbar-header h4 {
  color: rgb(185,127,64);
  font-style: italic;
  padding-left: 75px;
}

.navbar-nav {
  float: right;
}

.navbar-toggle {
  float: left;
}

/*navbar section*/
@media (max-width: 767px) {
  .navbar-nav {
    float: left;
  }

  .navbar-inverse .navbar-brand {
    font-size: 1.875rem;
    line-height: 2.25rem;
    padding: 7px 15px 15px 0px;
  }

  .navbar-toggle {
    margin-right: 0px;
  }

}

.main-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: url(../../resources/images/littleyellowstone-desktop.jpg);
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 69%;
  background-size: cover;
}

.main-banner h1 {
  color: white;
  text-align: center;
  /*font-size: 4.25rem;*/
  font-style: italic;
  /*padding: 120px 0 0;*/
}

/*banner section*/
@media (max-width: 767px) {
  .main-banner {
    height: 200px;
    background-position-x: 0px;
    background-position-y: 0px;
  }

  .main-banner h1 {
    font-size: 1.125rem;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

/*footer*/
.footer a {
  color: rgb(255,255,255);
  padding: 15px;
  text-decoration: none;
}

.footer a:hover {
  background-color: rgb(84,84,84);
}

.footer {
  color: rgb(255,255,255);
  background-color: rgb(0,0,0);
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  padding-top: 32px;
  align-items: center;
  height: 16rem;
}

.footer h2 {
  font-size: 1rem;
}

/*contact page*/
form {
  width: 100%;
  margin: 0 auto;
}

label {
  display: block;
  margin: 5px 0 5px 20px;
  font: 18px sans-serif;
  color: #888;
}
input {
  width: 250px;
  margin: 0 0 0 20px;
}

textarea {
  width: 250px;
  margin: 0 0 0 20px;
}

fieldset {
  border: none;
  background-color: #f6f6f6;
  padding: 0 0 20px 0;
}

.labelone {
  margin-top: 10px;
}

.btn {
  width: 125px;
}

form h4 {
  margin: 20px 0 0 30px;
  font: 24px sans-serif;
  color: #cdcdcd;
  font-weight: bold;
}
